# IP ADXs
BLUEHOST_SERVER_IP=xx.xx.xx.xx
HOME_ISP_IP=xx.xx.xx.xx
# SECURE ACCESS TO FILES ON BH SERVER
BLUEHOST_USER=username
BLUEHOST_KEY_PASSWORD=password
BLUEHOST_KEY_LOCATION=C:\Users\user\Desktop\yourssh-keyfile.ppk
# DATABASE
DB_USER=username
DB_PASSWORD=userpass
DB_HOST=host.fq.dn
DB_NAME=name
DB_URI=${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}
# EMAIL
RECIPIENTS='["todd@ccccc.net", "todd@ccccc.test", "pi@cccc.test"]'
EMAIL_USER=todd@cccc.test
EMAIL_PASSWORD=password
EMAIL_FROM=bluehost-log-parser@tascs.local
EMAIL_HOST=host.fq.dn

