# IP ADXs
BLUEHOST_SERVER_IP=xx.xx.xxx.xx
HOME_ISP_IP=xx.xx.xxx.xx
# SECURE ACCESS TO FILES ON BH SERVER
BLUEHOST_USER=username
BLUEHOST_KEY_PASSWORD=password
BLUEHOST_KEY_LOCATION=C:\Users\user\Desktop\filename.ppk
# DATABASE
DB_USER=username
DB_PASSWORD=PASSWORD
DB_HOST=host.fq.dn
DB_NAME=bluehost-weblogs
DB_URI=${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}
# EMAIL
RECIPIENTS='["tov@dddd.net", "tov@tsss.xxx", "pi@xxx.xxx"]'
EMAIL_USER=to@ta.com
EMAIL_PASSWORD=password
EMAIL_FROM=bluehost-log-parser@dfdfdf.local
EMAIL_HOST=host.fq.dn
